@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Angular/Controller/HomeController.js"></script>
<script src="~/Scripts/Angular/Service/HomeService.js"></script>
<script src="~/Scripts/Angular/Filter/Filter.js"></script>

<div class="row" ng-controller="HomeController">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="jumbotron">
                {{AppName}}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        Number 1
        <input type="number" ng-model="input1" ng-change="GetSum(input1,input2)" class="form-control"  />
    </div>
    <div class="col-sm-4">
        NUmber 2
        <input type="number" ng-model="input2" ng-change="GetSum(input1,input2)" class="form-control" />
    </div>
    <div class="col-sm-4">
        Get Result
        <input type="button" value="Multiply" ng-click="Multiply(input1, input2)" />
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{result}}
            {{result | oddeven}}
        </div>
    </div>
</div>